[bumpversion]
current_version = 2.2.2
files = strax/__init__.py docs/source/conf.py
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
