# Jupyter
.ipynb_checkpoints

# Data (temporary?)
*.json
*.bz2
*.zstd
*.npy
*.blosc

# Python cache
*.py[cod]
__pycache__

# Pytest cache
.pytest_cache

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Sphinx
docs/_build

# Pycharm
.idea
