# Jupyter
.ipynb_checkpoints

# Data (temporary?)
*.json
*.bz2
*.zstd
*.npy
*.blosc
strax_data
from_fake_daq
from_eb
raw
reduced_raw
processed
temp_processed
custom_data
test_input_data
*.zip

# cProfile output
*.prof

# Python cache
*.py[cod]
__pycache__

# Testing caches
.pytest_cache
.hypothesis

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Sphinx
docs/_build

# Pycharm
.idea

# coverage
.coverage