# The order is not trivial! Some installers will install dependencies top down.
numba>=0.43.1
numpy>=1.18.5
pandas
blosc
zstd
tqdm>=4.46.0
dill
psutil
numexpr
scipy
pymongo
pdmongo
lz4
immutabledict
packaging
zarr
fsspec
